#root {
  max-width: 1280px;
  /* margin: auto; */
  padding: 2rem;
  text-align: center;
}

ol {
  border: solid;
}

article {
  border: solid;
  margin: 10px;
}

.navbar {
  list-style: none;
  display: inline-flex;
  padding: 0;
}
.nav-li {
  padding-left: 10px;
  padding-right: 10px;
}

.articleImg {
  height: 300px;
  width: auto;
}
.article-ul {
  list-style: none;
}
